@model IEnumerable<AnwiamEyeClinicServices.Models.PurchaseRefractionPx>

@{
    ViewData["Title"] = "GetRefractionsBtnDates";
}

<div class="d-flex justify-content-lg-start">
    <p style="margin-right:10%">
        <a asp-action="Create" style="text-decoration:none; text-align:center;background-color:seagreen;
width:40%; border-radius: 10px;padding:5px; font-weight:bolder; color:white;"><i class="fas fa-arrow-left"></i>Back</a>
    </p>
    <h4 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight:bolder">Refractions Between @ViewBag.date1 and @ViewBag.date2 </h4>
</div>
<p style="background-color:goldenrod; text-align:center;padding:4px;border-end-start-radius:10px;">
    <span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight:bolder">Total Sales Amount :</span> Gh <span style="color:crimson;font-weight:bold;">@ViewBag.sumSales</span> |
    <span style="font-family:'Gill Sans', 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif; font-weight:bolder">Total Amount Paid by Patients :</span> Gh <span style="color:crimson;font-weight:bold;">@ViewBag.sumPaid</span>
    |
    <span style="font-family:'Gill Sans', 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif; font-weight:bolder">Total Frame Sales at OPD :</span> Gh <span style="color:crimson;font-weight:bold;">@ViewBag.OPDFrameSales</span>
</p>
<div class="card">
    <table class="table bg-opacity-10">
        <thead class="accordion-header alert-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpectacleRx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrameType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FramePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LensType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LensPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telephone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpectacleRx)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FrameType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FramePrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LensType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LensPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountPaid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date.Value.GetDateTimeFormats()[0])
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>

                    </tr>
                }
            }
            else{
<p> No Results seen</p>
            }
        </tbody>
</table>
</div>
