@model AnwiamEyeClinicServices.Models.Consultation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisualAcuity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisualAcuity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiefComplaint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiefComplaint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientHistory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyHistory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpectacleRx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpectacleRx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
