@model IEnumerable<AnwiamEyeClinicServices.Models.Oct>

@{
    ViewData["Title"] = "DailyRecords";
}

<h5>OCT Records For @ViewBag.today</h5>

<div style="display:flex;">
    <p style="margin-right:10%">
        <a asp-action="Create" style="text-decoration:none; text-align:center;background-color:seagreen;
width:40%; border-radius: 10px;padding:5px; font-weight:bolder; color:white;"><i class="fas fa-arrow-left"></i>Back</a>
    </p>
</div>
<br />
<table class="table">
    <thead class="accordion-header alert-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScanId)
            </th>
            <th>
                Patient Name
            </th>
            <th>
                Referring Doctor
            </th>
            <th>
                Facility
            </th>
            <th>
                ONH            </th>
            <th>
                @Html.DisplayNameFor(model => model.Macula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pachymetry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ScanId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferredDrName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReFfacility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Onh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Macula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pachymetry)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Date.Value.GetDateTimeFormats('D')[0])
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScanId">Edit</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
