



<div class="card" style="padding:4px; border:solid lightgray 0.5px;width:50%;margin-left:auto;margin-right:auto;">
    <div class="card-header bg-primary" style="text-align:center;font-weight:bolder;color:white;"> TOTALS</div>
    <div class="card-body">
        @using (Html.BeginForm("Totals", "OCT", FormMethod.Post))
        {
            <div style="display:inline-flex;justify-content:space-evenly">
                <div style="width:150px;">
                    <span style="font-weight:bold; margin-left:30%;">Start</span>

                    <input type="date" name="stDate" class="form-control" id="autoSizingInput" placeholder="Start Date" style="border:solid lightblue 3px; border-radius:5px;">

                </div>
                <div style="width:150px;">
                    <span style="font-weight:bold;margin-left:30%;">End</span>

                    <input type="date" name="eDate" class="form-control" id="autoSizingInputGroup" placeholder="End Date" style="border:solid lightblue 3px; border-radius:5px;">

                </div>
                <button type="submit" style="font-weight:bolder;margin-left:4%;padding:2px; border-radius:10px;" class="btn-warning">Generate Totals</button>
            </div>
        }
    </div>
</div>
<br />
<div class="card" style="width:50%; margin-left:auto; margin-right:auto;">
    <div class="card-header bg-info" style="font-weight:bold;text-align:center;"> TOTALS @ViewBag.b <span style="color:chocolate;">@ViewBag.stDate</span> @ViewBag.a <span style="color:chocolate;">@ViewBag.eDate</span></div>
    <div class="card-body">
        VFT Count:    @ViewBag.VftCount <hr />
            ONH Count:    @ViewBag.OnhCount <hr />
        Macula Count: @ViewBag.MaculaCount <hr />
        Pachymetry Count: @ViewBag.PachymetryCount <hr />
        Retinal Imaging Count: @ViewBag.RetImage<hr />
        <h6 class="alert-primary" style="text-align:center;padding:5px;font-weight:bold;">Total Amount</h6>
        <span style="color:forestgreen;font-weight:bold;">Total VFT Amount</span>: <span style="font-weight:bold;">Ghs @ViewBag.VftTotalAmount.00</span><hr />
        <span style="color:forestgreen;font-weight:bold;">Total OCT Amount</span>(ONH/Macula/Pachymetry): <span style="font-weight:bold;">Ghc @ViewBag.TotalOfOnhMacPachyAmount.00</span> <hr />
        <span style="color:forestgreen;font-weight:bold;">Total Retinal Imaging Amount</span>: <span style="font-weight:bold;">Ghc @ViewBag.RetImageTotalAmount.00</span>
        
    </div>
</div>

