@model IEnumerable<AnwiamEyeClinicServices.Models.RevenueServices>

<p>
    <a asp-action="Create">Back</a>
</p>
<table class="table bg-light">
    <thead class="accordion-header alert-primary">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Services)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Services)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date.GetDateTimeFormats()[0])
                </td>
                
                <td>
                    <a asp-action="EditRev" asp-route-id="@item.Id"><button class="btn-success" style="border-radius:5px;">Edit</button></a>
 |
                    <a asp-action="DeleteRev" asp-route-id="@item.Id"><button class="btn-danger" style="border-radius:5px;">Delete</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
